{% extends "blog/layout.html" %}
{% block content %}
    <div class="container">
    <div class="jumbotron"><h1>Django Template <sup>by AskDjango</sup></h1>
        <p>여러분의 파이썬/장고 페이스메이커가 되겠습니다.</p>
        <p><a class="btn btn-lg btn-primary" href="http://facebook.com/groups/askdjango"> AskDjango 페이스북 그룹 &raquo; </a>
        </p></div>


    <div class="row">
    <div class="col-sm-12">

    <a href="{% url "blog:post_new" %}" class = 'btn btn-primary'>New Post</a>
    <p>
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" class="btn btn-primary"/>
    </form>
    </p>
    <ul>
        {% for post in post_list %}
            <li>
                {{ post.id }}
                <a href="{% url "blog:post_detail" post.id %}">
                    {{ post.title }}
                </a>
                <small>by {{ post.author }}</small>
                <small>at {{ post.updated_at }}</small>

            </li>
        {% endfor %}
    </ul>
{% endblock %}

</div>
</div>
</div>
